{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true
    },
    "plugins": [
        "react",
        "react-hooks",
        "prettier",
        "jsx-a11y"
    ],
    "extends": [
        "eslint:recommended",
        "airbnb",
        "plugin:react/recommended",
        "prettier/prettier",
        "plugin:prettier/recommended"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2018,
        "requireConfigFile": false,
        "allowImportExportEverywhere": false,
        "codeFrame": false,
        "babelOptions": {
            "presets": [
                "@babel/preset-react"
            ]
        },
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        // React specifics
        "react/jsx-key": "error",
        "react/no-unused-prop-types": 0,
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/button-has-type": 0,
        "react/jsx-filename-extension": [
            "off"
        ],
        "react/prop-types": "warn",
        "react/no-unescaped-entities": "warn",
        // ESLint specifics
        "react/function-component-definition": [
            "off"
        ],
        "react/require-default-props": [
            "off"
        ],
        "prefer-promise-reject-errors": [
            "off"
        ],
        "no-nested-ternary": "off",
        "no-return-assign": [
            "off"
        ],
        "no-shadow": "off",
        "no-lonely-if": "warn",
        "consistent-return": "off",
        "no-use-before-define": "warn",
        "no-underscore-dangle": "off",
        "no-unused-vars": "warn",
        "import/no-unresolved": "off",
        "no-unused-expressions": "off",
        "radix": "off",
        "spaced-comment": "off",
        "prettier/prettier": "error",
        "arrow-parens": [
            "error",
            "always"
        ],
        "indent": "off",
        "camelcase": "off",
        "no-param-reassign": "off",
        "react/jsx-props-no-spreading": [
            "error",
            {
                "custom": "ignore"
            }
        ],
        "no-restricted-exports": "off",
        "global-require": "off",
        // JSX-A11Y specifics
        "jsx-a11y/alt-text": "warn",
        "jsx-a11y/click-events-have-key-events": "warn",
        "jsx-a11y/no-static-element-interactions": "warn",
        "jsx-a11y/no-noninteractive-element-interactions": "warn",
        "jsx-a11y/label-has-associated-control": "warn",
        "jsx-a11y/anchor-is-valid": "warn",
        "no-implicit-globals": "off",
    }
}